<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!--CSS-->
	<link rel="stylesheet" href="/css/override.css"> 
	<link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="/webjars/datatables/1.10.20/css/dataTables.bootstrap4.min.css"> 
	<link rel="stylesheet" href="/webjars/materializecss/0.100.2/css/materialize.min.css"> 
	<link rel="stylesheet" href="/lib/pace/themes/purple/pace-theme-minimal.css" />
	<!--JS-->
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
	<!-- <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
	<script src="/webjars/materializecss/0.100.2/js/materialize.min.js"></script>
	<script src="/webjars/datatables/1.10.20/js/jquery.dataTables.min.js"></script>
	<script src="/webjars/datatables/1.10.20/js/dataTables.bootstrap4.min.js"></script>
	<script src="/lib/pace/pace.js"></script>
	<!-- <script type="text/javascript" src="http://api.nostramap.com/nostraapi/v2.0?key={{MAPAPIKEY}}"> </script> -->
</head>
<body>
<div class="d-flex flex-column w-100 h-100">
	<header class="mb-auto">
		<nav class="nav-extended">
			<div class="nav-content">
				<ul class="tabs tabs-fixed-width tabs-transparent blue darken-1">
					<li class="tab waves-effect waves-light"><a href="#id-search-form">ID</a></li>
					<li class="tab disabled"><a href="#map-search-form">MAP</a></li>
				</ul>
			</div>
		</nav>
	</header>
	
