<section id="bussiness-info-wrp" class="modal">
	<article class="modal-content">
		<h4 class="detail-header bussiness_name"></h4>
		<div class="detail-content">
			<div class="row">
				<div class="detail-title col-sm">Onwer License ID</div>
				<div class="detail-desc col-sm owner_lincense_id"></div>
			</div>
			<div class="row">
				<div class="detail-title col-sm">Bussiness License ID</div>
				<div class="detail-desc col-sm bussiness_license_id"></div>
			</div>
			<div class="row">
				<div class="detail-title col-sm">Owner Name</div>
				<div class="detail-desc col-sm owner_name"></div>
			</div>
			<div class="row">
				<div class="detail-title col-sm">Product Type</div>
				<div class="detail-desc col-sm product_type"></div>
			</div>
			<div class="row">
				<div class="detail-title col-sm">Address</div>
				<div class="detail-desc col-sm address"></div>
			</div>
			<div class="row">
				<div class="detail-title col-sm">Start Bussiness Date</div>
				<div class="detail-desc col-sm bussiness_license_start"></div>
			</div>
			<div class="row">
				<div class="detail-title col-sm">End Bussiness Date</div>
				<div class="detail-desc col-sm bussiness_license_end"></div>
			</div>
		</div>
	</article>
</section>